div.sfWidgetFormDmDatePicker,
div.sfWidgetFormDmTimePicker,
div.sfWidgetFormDmDateTimePicker {
  display: inline;
}
div.sfWidgetFormDmDatePicker input[type=text].sfWidgetFormDmDatePicker {
  width: 100px;
}
div.sfWidgetFormDmTimePicker input[type=text].sfWidgetFormDmTimePicker {
  width: 100px;
}
div.sfWidgetFormDmDateTimePicker input[type=text].sfWidgetFormDmDateTimePicker {
  width: 150px;
}
